
html {
    background: lightcyan;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    
  }
  h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 40px;
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
    font-size: 20px;
}
h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: plum;
    padding: 10px
}

table{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    
}

nav{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 1000px;
    font-size:18px;
}

