html{
    background-color: lightgoldenrodyellow;
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

nav{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 1000px;
    font-size:18px;
}