h1,h2{
    font-family:"Oswald";}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;}

li{
    display: inline;}

#navbar a{
    margin-left: 75px;
    margin-right: 75px;}

body{
    color:darkblue;
    font-family: "open sans";
    width:950px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: ivory;}

img {float:left;
     margin-right: 10px;}

.left{
    float: left;
    width:300px;
    padding: 1em;}
.right{
    float:right;
    width:300px;
    padding: 1em;}
.center{
    margin-left: 300px;
    margin-right: 300px;
    padding: 1em;}


